.DS_Store
*~
*.bak
*.yml.orig
*.erb.orig
tmp/*
amplify-console-in-action-pdf/*
amplify-console-in-action-trial-pdf/*
amplify-console-in-action-en-pdf/*
amplify-console-in-action.pdf
amplify-console-in-action-trial.pdf
amplify-console-in-action-en.pdf
config.yml
!cover.pdf
.local
sty/mytitlepage.sty
sty/starter.sty
